#contenedor1{

            background-image:url("fondos/sky.jpg");
            border-style:solid;
            border-color:gray;
            border-width:3px;

                     }
    #botonimagen{
  background-image:url("botonBuscar.png");
  background-repeat:no-repeat;
  height:50px;
  width:180px;
 background-position:center; 

}
 #botonimagen2{
  background-image:url("save.png");
  background-repeat:no-repeat;
  height:50px;
  width:180px;
 background-position:left; 
 background-color: #848484;
}