a:hover, a:visited, a:link, a:active {

	text-decoration:none;
	color:black;
}

#menu{

	margin-top:1%;
	background:#787878 ;
	border-style:outset;
	border-color:#FFFFCC;
	border-width:5px;
	padding-bottom:1.1%;
	padding-top:0.5%;
}
      
.boton{

	width:23%;
	margin-top:0.5%;
	margin-left:1%;
	border-radius:20px;
	/*float:left;*/
	display:inline-block;	
	font-size:1.3em;
	text-align:center;
	background:#FFFFCC;
	box-shadow: 10px 8px 5px #333300;
	font-weight:bold;

}

.boton1 {

	width:23%;
	width:23%;
	margin-top:0.5%;
	margin-left:80%;
	border-radius:20px;
	/*float:left;*/
	display:inline-block;	
	font-size:1.3em;
	text-align:center;

	background:#FFFFCC;
	
}

option.head {

    selected:selected;
    display:none;
    disabled:disabled;

}

body{

	background:linear-gradient(#A8A8A8,#C0C0C0 ,#F0F0F0);
	
}

#logo {

height:110px;
width:110px;

}


#contenedor{

	margin-top:2%;
	background:#A8A8A8;
	color:white;

	width:100%;
	bottom:0;
	position:relative;

}

#contenedor2{

	margin-top:2%;
	background:#E6E6E6;
	margin-right:5%;
	margin-left:5%;
	border-style:outset;
	border-color:#787878;
	border-width:5px;
	box-shadow: 10px 10px 5px #333300;

}

#bienvenido{


	background:#787878 ;
	border-style:inset;
	border-color:#FFFFCC;
	border-width:2px;
	color:white;
	text-align:right;
	margin-bottom:1%;
}

#logout{

	color:white;
	
}
#contenedor1{

			/*margin-top:1%;*/
            background-image:url("img/sky.jpg");
            border-style:inset;
            border-color:#A8A8A8;
            border-width:3px;

            /*position:fixed;*/
            width:100%;
            top:0%;
            

                     }



     .obligatorio{

        color:red;
     }
     
.centrarspan 
{

display:block;
text-align:center;
max-width:100%;
height:auto;
}

