#contenedor3{

	/*margin-top:2%;*/
	/*margin-right:5%;*/
	/*margin-left:35%;*/
	margin-bottom:2%;
	
	


}

.btn{

	border-radius:30px;
	margin-left:5%;
	height:13%;
	width:13%;
}

.imagenes {


	/*margin-top:0.5%;
	margin-left:1%;*/
	
	/*float:left;*/
	display:inline-block;
		
	
	/*text-align:center;*/
	
	
}

