.combobox{
	background: #FFFFCC;
	background-position: 280% center;
   background-repeat: no-repeat;
   	padding: 1%;
   	font-size: 100%;
   	border: 0;
   	border-radius: 3px; 
}

#div1 {

   overflow-x:scroll;
    height:100%;
    width:100%;
}

.combobox:hover{
	background-color: #ddd;
}
table { 
  /*width: 90%; 
  border-collapse: collapse;*/ 
}
* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

	
	#botonimagen{
    height:100%;
    width:100%;
  }

	

input {   
    border-radius: 15px;
}