h2{
font-size:18px;
}
p{
font-size:14px;
}
label{
font-size:12px;
}
input[type=submit]{
padding:5px;
}
input[type=text],input[type=number],input[type=email]{
  padding: 8px; 
}
input[type=password]{
  padding: 8px; 
}
.select{
  padding: 8px; 
} 

table{
  padding: 8px; 
} 

iframe{
	margin-bottom: 20px;
	margin-top: 10px;
	width:45%;
	border-radius:5px;
	border:1px solid black;
}


div#envelope{
width: 80%;
margin: 10px 30% 10px 11%;
}