@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
* {
    /* esto es oara evitar que el borde aumente de tamaño de forma descontrolada*/
  
	-webkit-box-sizing: border-box;   
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif; 
	/*text-align:center; */
}

#logo {
margin-left:;
}

div#envelope{
	width: 55%;
	margin: 10px 30% 10px 25%;
	padding:10px 0;
	border: 2px solid gray;
	border-radius:10px;
} 	
form{
	width:70%;
	margin:4% 15%;
}  
header{
	background-color: #4180C5;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-top: -11px;
	margin-bottom: -8px;
	border-radius: 10px 10px 0 0;
	color: black;
} 

/* Makes responsive fields.Sets size and field alignment.*/
input[type=text],input[type=number],input[type=email]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}

input[type=password]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}

 .select{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	/*text-indent:20%;*/
	padding-left: 40%;
}


iframe{
	margin-bottom: 20px;
	margin-top: 10px;
	width:45%;
	border-radius:5px;
	border:1px solid black;
}




input[type=submit]
{
	margin-bottom: 20px;
	width:15%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: #FFFFCC;
	color: black;
	font-weight:bold;
	font-size:15px;
	box-shadow: 6px 8px 5px #333300;
	cursor:pointer;
}
#submit:hover
{
 background-color: black;
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px; 
	margin-bottom: 20px;
	resize:none;
  } 
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}

#contenedor,#contenedor2,#contenedor2{
	text-align:center;
}
 /*tabla responsive */

