.scrollup { /* aqui empieza el scroll */

    /*width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('icon_top.png') no-repeat;
    background-color: #000;*/

  display: none;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: .5;
  /*background: transparent url("img/arrowtop.png") top left no-repeat;*/
  z-index: 10;
}